services:
  wiremock:
    image: wiremock/wiremock:latest
    ports:
      - "8081:8080"
    command:
      - "--verbose"
      - "--global-response-templating"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/__files:/home/wiremock/__files
